* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #e0edf8, #dcdcdd);
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.topbar {
  width: 100%;
  background: #0040b8;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.topbar h1 {
  color:#fff;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.topbar button {
  background: #fff;
  color: #0040b8;
  width: 180px;
  border: none;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.topbar button:hover {
  background: #f2f2f2;
}

.features {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 1.5rem;
margin-top: 2rem;
animation: fadeIn 1.5s ease;
}

.feature-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.feature-card:hover {
    transform: scale(1.12);
}

.feature-card h3 {
  margin-bottom: 0.5rem;
  color: #222;
}

.feature-card p {
  color: #555;
  font-size: 0.95rem;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1, h2, h3 {
  color: #0040b8;
  text-align: center;
}

h2, h3 {
  color: #0040b8;
  margin-bottom: 0.75rem;
}

.card {
  background: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

input, textarea, select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  color: #333;
  font-size: 1rem;
  resize: none;
  transition: all 0.2s ease;
}

input:focus, textarea:focus, select:focus {
  background: #fff;
  border-color: #0040b8;
  box-shadow: 0 0 6px rgba(0, 170, 255, 0.3);
}

button {
  width: 25%;
  background: #0040b8;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #003ae8;
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

ul li {
  background: #f4f8fb;
  margin: 0.9rem 0;
  padding: 0.75rem;
  border-radius: 8px;
  color: #333;
  text-align: left;
  border: 1px solid #e3e9ee;
  word-break: break-word;
}

ul li:hover {
    transform: scale(1.02);
}

.muted {
    color: #0040b8;
}

/* ---------- Responsive ---------- */
@media (max-width: 600px) {
  .topbar {
    flex-direction: column;
    gap: 1rem;
  }

  .container {
    width: 90%;
  }

  h1 {
    font-size: 1.8rem;
  }
}